@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}
.site__title {
  font-size: 34px;
  line-height: 20px;
  font-weight: 400;
  color: #f1f3f5;
}
.site__title span {
  line-height: 20px;
  font-weight: 400;
  color: green;
}
.headline4 {
  font-size: 18px;
  line-height: 25px;
  font-family: Roboto;
  font-weight: 700;
  color: #000;
}
.paraghraph {
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto;
  font-weight: 400;
  color: #000;
}

.date {
  font-size: 13px;
  line-height: 13px;
  font-family: Roboto;
  font-weight: 400;
  color: #808080;
}

.navIco {
  color: #fff;
  font-size: 20px;
}
/* header > nav */
nav {
  background-color: #292929;
  padding: 19px 0;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation li a {
  color: #fff;
}

/* main > left__sidebar */
main {
  margin-top: 30px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.main-section {
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: none;
}
.theme-section,
.comments-section {
  margin-top: 20px;
  width: 780px;
  padding: 25px;
  border-radius: 20px;
  background-color: #fff;
}
.theme-section-card {
  margin-top: 25px;
  padding-right: 50px;
  display: flex;
  align-items: start;
  gap: 10px;
}
.theme-section-card h4 {
  margin-top: 5px;
  font-weight: 500;
  line-height: 22px;
}
.theme-section-card img {
  width: 140px;
  border-radius: 10px;
}


.comments-section{
  margin-bottom: 100px;
}
#comment {
  margin-top: 20px;
  width: 725px;
  padding: 20px;
  outline: none;
  border-radius: 15px;
  border: 1px solid #808080;
}
.user__comment{

  margin-top: 50px;
}

.user__comment h4 {
  font-weight: 400;

}
.user__profile{
  margin-bottom: 10px;
}
.user__profile p {
  color: #808080;
}
.user__profile h4 {
  font-weight: 500;
}
.user__profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user__profile i {
  font-size: 30px;
}

.comment-action
{
  display: flex;align-items: center;justify-content: space-between;
}
.comment-action p{
color: #808080;
}
.comment-action span{
  position: relative;
  bottom: 3px;
  font-size: 25px;
}
.comment-icon{
  display: flex;align-items: center;gap: 10px;
}
.comment-icon i{
font-size: 20px;

}

  /* main left__sidebar */
.left__sidebar {
  overflow-x: scroll;
  scrollbar-width: none;
  height: 100vh;
  width: 250px;
  margin-left: 70px;
}

.currency__title,
.discussed__title,
.in__world-title,
.famous__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.currency {
  border-radius: 15px;
  background-color: #fff;
  padding: 20px;
}
.currency_card h5 {
  font-weight: 400;
}
.currency_card h5:nth-child(2) {
  margin: 7px 0;
}
.currency_card span {
  color: red;
}
.currency_card p {
  margin-top: 5px;
  color: #808080;
}
.bold_vr {
  height: 20px;
  width: 5px;
  background: #000;
}

.discussed {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
}
.discussed_card {
  margin-bottom: 25px;
}
.discussed_card p {
  font-weight: 350;
}
.discussed_card_icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.discussed_card_icon p {
  color: #808080;
  margin-top: 8px;
}
.chat {
  font-size: 13px;
}
/* main > right__section */
.right__sidebar {
  margin-right: 70px;
  width: 320px;
  height: 100vh;
  overflow-x: scroll;
  scrollbar-width: none;
}
.famous {
  padding: 20px;
  background: #fff;
  border-radius: 15px;
}

.famous-card-content {
  display: flex;
  align-items: start;
}
.famous_card {
  margin-bottom: 25px;
}
.famous_card img {
  width: 80px;
  margin-left: 5px;
}
.famous_card p {
  font-weight: 350;
}
.famous_card_icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.famous_card_icon p {
  color: #808080;
  margin-top: 8px;
}
.world-news-card {
  margin-top: 30px;
  display: flex;
  align-items: start;
  gap: 10px;
}
.in__world {
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
}
.world-news-card h4 {
  font-weight: 400;
  line-height: 25px;
}
.world-news-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* main > main-section */
.main-content {
  width: 780px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  background-color: #fff;
}
.iP {
  color: #808080;
}
.main-icons {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-icon-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.heroImg {
  border-radius: 10px;
}
.main-p {
  margin-top: 15px;
  font-family: Roboto;
  font-style: 16px;
  line-height: 24px;
  color: #000;
}
.news-grp {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d3d0d0;
  padding: 10px 10px 30px 10px;
}
.news__tag {
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  color: blue;
  background-color: #e8eefb;
}
.shareIco {
  padding: 5px;
  transition: all 0.25s ease;
  border-radius: 5px;
}
.shareIco:hover {
  background-color: #808080;
}
.user {
  margin-top: 20px;
  border-bottom: 1px solid #d3d0d0;
  padding: 10px 10px 30px 10px;

  display: flex;
  align-items: center;
  gap: 10px;
}
.user img {
  width: 40px;
  border-radius: 50%;
}
.username {
  font-style: 16px;
  color: #000;
  font-weight: 700;
  transition: all 0.2s ease;
}
.username:hover {
  color: blue;
}

/* footer */
footer {
  background-color: #292929;
  text-align: center;
  padding: 50px 0;
}
.footer-content {
}
.footer__title {
  font-size: 40px;
  color: #fff;
  font-family: Roboto;
}
.footer__title span {
  color: green;
}
.footer__p {
  color: #d3d0d0;
  margin: 20px 0;
}
.footer__nav {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
}
.footer__nav li a {
  color: #fff;
}
.footer__sm_logo {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.footer__sm_logo i {
  font-size: 35px;
  color: #fff;
}
